<div class="row">
  <div class="col-md-12">
    <h1>Application Info</h1>
    <h3>Name:  <small><%= @registered_application.name %></small></h3>
    <h3>URL:  <small><%= @registered_application.url %></small></h3>
    <h3>Logged Events: </h3>
    <%= pie_chart @registered_application.events.group(:event_name).count %>
    <%= line_chart @registered_application.events.group_by_day(:created_at).count %>
    <%= link_to "Remove Application From Registry", [@user, @registered_application], method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
    <%= link_to "Back", user_path(@user), class: 'btn btn-warning' %>
  </div>
</div>
