<h1>Application Details</h1>
<div class="row">
  <div class="col-md-8">
    <p><strong>Name:</strong>  <%= @registered_application.name %></p></br>
    <p><strong>URL:</strong>  <%= @registered_application.url %></p>
    <%= @registered_application.events.each do |e| %>
      <p><%= e.event_name %></p>
    <% end %>
  <div class="row">
    <%= link_to "Remove From List", [@user, @registered_application], method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" }%>
    <%= link_to "Back", user_path(@user), class: 'btn btn-warning' %>
  </div>
  </div>
</div>
